*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
header{
    width: 100%;
    background-color: #fff;
}
header .container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container p{
    font-size: 20px;
    font-weight: bold;
}
header section nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
header .destaque{
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}
nav a{
    color: #475569;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 5px;
}
a{
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    transition: transform 0.3s;
}
a:hover{
    transform: scale(1.05);
    box-shadow: 5px 6px 5px rgb(0, 0, 0, 0.2);
}
main{
    width: 100%;
    background-color: #e5e7eb;
}
.sobre-mim{
    text-align: center;
    margin: 0 auto;
}
/*FOI ADICIONADO UMA BORDA NA FOTO DE PERFIL, COM UM EFEITO DE CIRCULO, PARA DAR UM TOQUE MAIS PROFISSIONAL E ESTÉTICO AO LINKBIO. A BORDA DE 5PX DESTACA A FOTO, ENQUANTO O FORMATO CIRCULAR ADICIONA UM ELEMENTO VISUAL AGRADÁVEL. O USO DE "OVERFLOW: HIDDEN" GARANTE QUE A IMAGEM SEJA CORTADA CORRETAMENTE DENTRO DA BORDA, MANTENDO O DESIGN LIMPO E ORGANIZADO.
*/
.fundo-borda{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white; /* BORDA DE 5PX */
    overflow: hidden; /* importante */
    margin: 0 auto;
    box-sizing: border-box; /* evita quebrar o layout */
}

.fundo-borda img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sobre{
    max-width: 500px;
    margin: 0 auto;
}
.main-links{
    max-width: 450px;
    margin: 0 auto;
    padding: 15px 10px;
}
.main-links p{
    font-size: 18px;
    color: #475569;
    text-align: center;
}
.sobre-mim h1{
    color: midnightblue;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px
}
.sobre-mim h2{
    color: blue;
    font-size: 28px;
    margin-bottom: 15px
}
.sobre-mim p{
    font-size: 20px;
    color: #475569;
}
.redes{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.redes .destaque, .contato .destaque{
    color: #fff;
    background-color: #000;
}
.redes a{
    font-size: 20px;
    color: #000;
    background-color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.github::before{
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url("./img/github.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
    align-items: center;
}
.linkedin::before{
    content: "";
    display:inline-block;
    width: 22px;
    height: 22px;
    background-image: url("./img/linkedin.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.instagram::before{
    content: "";
    display:inline-block;
    width: 22px;
    height: 22px;
    background-image: url("./img/instagram.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;

}
.secao-skills{
    margin: 0 auto;
}
.secao-skills h2{
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
    color: #475569;
}
.secao-skills .texto{
    font-size: 18px;
    color: #475569;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.box-skills{
    max-width: 500px;
    margin: 20PX auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.skill{
    border: 1px solid #475569;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}
.skill img{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}
.secao-contato{
    margin: 0 auto;
}
.contato{
    max-width: 500px;
    min-height: 350px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

}
.contato h2{
    text-align: center;
    font-size: 28px;
    color: #000;
}
.contato p{
    font-size: 18px;
    color: #000
}
.contato a{
    font-size: 20px;
    color: #000;
    background-color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
    text-align: center; 
    border:1px solid #475569;
}
.contato .whats{
    border:0.5px solid #e5e7eb;
    border-radius: 10px;
}
.email::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./img/email.png");
    background-size: contain;
    background-color: #fff;
    background-repeat: no-repeat;
    margin-right: 10px;
    border-radius: 2px;
}
.whats::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./img/whatsapp.png");
    background-size: contain;
    background-color: #fff;
    background-repeat: no-repeat;
    margin-right: 10px;
}

footer{
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
@media (max-width: 768px){
    header  p{
        font-size: 18px;
    }
    header  nav a{
        font-size: 16px;
        padding: 6px 10px;
        display: flex;
        justify-content: center;
    }
    .sobre-mim .fundo-borda{
        width: 150px;
        height: 150px;
    }
    .sobre-mim .sobre h1{
        font-size: 30px;
    }
    .sobre-mim .sobre h2{
        font-size: 22px;
    }
    .sobre-mim .sobre p{
        font-size: 18px;
    }
    .main-links{
        max-width: 450px;
        padding: 10px 5px;
    }
    .main-links p{
        font-size: 18px;
    }   
    .redes a{
        font-size: 18px;
        padding: 12px 25px;
    }
    .secao-skills h2{
        font-size: 24px;
    }   
    .secao-skills .texto{
        font-size: 18px;
    }
    .contato h2{
        font-size: 24px;
    }
    .contato p{
        font-size: 18px;
    }
    .contato a{
        font-size: 18px;
        padding: 12px 25px;
    }
    footer{
        font-size: 16px;
    }
}
@media (max-width: 480px){
    header nav{
        display: none;
    }
    header  p{
        font-size: 18px;
    }
    header .contatar a{
        font-size: 16px;
        padding: 5px 8px; 
    }
    main .sobre-mim .fundo-borda{
        width: 150px;
        height: 150px;
    }
    main .sobre-mim .sobre h1{
        font-size: 28px;
    }
    main .sobre-mim .sobre h2{
        font-size: 20px;
    }
    main .sobre-mim .sobre p{
        font-size: 16px;
    }
    .main-links{
            max-width: 300px;
            padding: 10px 5px;
    }
    .main-links p{
            font-size: 16px;
    }
    .redes a{
            font-size: 16px;
            width: 100%;
            justify-content: center;
    }
    .secao-skills h2{
            font-size: 20px;
    }
    .secao-skills .texto{
            font-size: 16px;
    }

    .contato h2{
            font-size: 20px;
    }
    .contato p{
            font-size: 16px;
    }
    .contato a{
            font-size: 16px;
            padding: 10px 20px;
    }
    footer{
            font-size: 14px;
    }
}